
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ================================ META-DATA ================================ -->
    <title>Coffee Date &mdash; Let's Go</title>
    <include href="includes/header.htm"></include>

</head>

<div>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        Coffee Date<i class="fas fa-coffee"></i>
    </a>
</nav>
<!-- ============================= Main Section - Start ============================ -->

<div class="container">
    <div class="row">
    <div class="col-sm">
    <h1>Coffee Date </i></h1>
    <p class="lead">
    <h4>Mission Statement</h4>
    <p>Hey There!! We are here to help you make the most of your coffee date by providing you a platform to easily access
        events in your area based on your interests; all in just few clicks.</p>


    <h2>This is why we are best!!</h2>
    <hr>
    <div class="px-5 font-weight-light font-italic">
        <p>"My best coffee date ever!!<br>-Dating Magazine</p>
        <p>"Coffee date is the best way to start a relationship!<br>-Andrew, Dating Expert</p>
        <p>"I would have not met my other half is it was not for this site!!<br>-Mary</p>
        <p>"Coffee can take you to a different course !!<br>-Marco</p>

    </div>
    <hr>

    <!--Button-->
    <a class="btn btn-primary btn-block btn-lg" href="person" role="button">Create Profile!</a>
</div>


    <div class="col-sm">
        <img class="img-fluid rounded my-3" src="/328/Dating/images/coffee1.jpg" alt="coffee">
    </div>

        </div>
    </div>
</div>

<!--<div id="fh5co-about-us" data-section="about">-->
<!--    <div class="container">-->
<!--        <div class="row row-bottom-padded-lg" id="about-us">-->
<!--            <div class="col-md-12 section-heading text-center">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-8 col-md-offset-2 to-animate col-lg-offset-0 col-lg-12">-->
<!--                        <div id="weather" class="navbar-fixed-top container-fluid">-->
<!--                            <a id="header-anchor" class="navbar-brand" href="home.html">Coffee Date</a>-->
<!--                            <div id="conditions"></div>-->
<!--                        </div>-->
<!--                        <div class="to-animate">-->
<!--                            <header>-->
<!--                                <img id="coffee-icon" src="/328/Dating/images/coffee1.jpg" alt="coffee" style="width:400px; height:200px;">-->

<!--                                <br>-->
<!--                                <br>-->
<!--                            </header>-->
<!--                            <div id="get-started">-->
<!--                                <p>-->
<!--                                <h2>Welcome to Coffee Date!</h2>-->

<!--                                <form>-->

<!--                                    <a href="person"><button type="button" class="btn btn-primary">Create Profile</button></a>-->
<!--                                </form>-->
<!--                            </div>-->

<!--                            <div class="foursquareResults clearfix" id="dateNightResults"></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
    <!-- ================================ Main Section - END ================================ -->


    <!-- ================================ JavaScript-main ================================ -->
    <!-- Modernizr JS -->
    <script src="javascript/main/modernizr-2.6.2.min.js"></script>
    <!-- jQuery -->
    <script src="javascript/main/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="javascript/main/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="javascript/main/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="javascript/main/jquery.waypoints.min.js"></script>
    <!-- Owl Carousel -->
    <script src="javascript/main/owl.carousel.min.js"></script>
    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
    <!-- Main JS (Do not remove) -->
    <script src="javascript/main/main.js"></script>
    <script src="script.js"></script>
</body>
</html>