<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Interest</title>
    <include href="includes/header.htm"></include>

</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/328/Dating/">
        <img src="/328/Dating/images/coffee2.png" width="33" height="33" class="d-inline-block align-top" alt="" loading="lazy">
       Coffee Date
<!--        <i class="fas fa-coffee"></i>-->
    </a>
</nav>
<div class="container">

    <h1>Interest</h1>

    <form action="#" method="post">

    <p><strong>In-door Interests</strong></p>
        <div class="row mb-3 px-3">
            <repeat group="{{ @indoor }}" value="{{ @indoor }}">
        <div class="col-md-3">
            <div class="form-check">


                    <input class="form-check-input" type="checkbox" value="{{ @indoor }}" id=indoor[] name="indoor[]"
                           <check if="{{@indoor==@selectIndoor }}">
                    checked="checked"
                           </check>
                <label class="form-check-label" for="indoor[]">
                    {{ ucfirst(@indoor) }}
                </label>
            </div>
        </div>
            </repeat>

<!--        <div class="col-sm">-->
<!--            <div class="form-check">-->
<!--                <input class="form-check-input" type="checkbox" value="" id="tv" name="indoor[]">-->
<!--                <label class="form-check-label" for="tv">-->
<!--                    TV-->
<!--                </label>-->
<!--            </div>-->
<!--            <div class="form-check">-->
<!--                <input class="form-check-input" type="checkbox" value="" id="puzzles" name="indoor[]">-->
<!--                <label class="form-check-label" for="puzzles">-->
<!--                    Puzzles-->
<!--                </label>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm">-->
<!--            <div class="form-check">-->
<!--                <input class="form-check-input" type="checkbox" value="" id="movies" name="indoor[]">-->
<!--                <label class="form-check-label" for="movies">-->
<!--                    Movies-->
<!--                </label>-->
<!--            </div>-->
<!--            <div class="form-check">-->
<!--                <input class="form-check-input" type="checkbox" value="" id="reading" name="indoor[]">-->
<!--                <label class="form-check-label" for="reading">-->
<!--                    Reading-->
<!--                </label>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm">-->
<!--            <div class="form-check">-->
<!--                <input class="form-check-input" type="checkbox" value="" id="cooking" name="indoor[]">-->
<!--                <label class="form-check-label" for="cooking">-->
<!--                    Cooking-->
<!--                </label>-->
<!--            </div>-->
<!--            <div class="form-check">-->
<!--                <input class="form-check-input" type="checkbox" value="" id="playing cards" name="indoor[]">-->
<!--                <label class="form-check-label" for="playing cards">-->
<!--                    Playing Cards-->
<!--                </label>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm">-->
<!--            <div class="form-check">-->
<!--                <input class="form-check-input" type="checkbox" value="" id="board games" name="indoor[]">-->
<!--                <label class="form-check-label" for="board games">-->
<!--                    Board Games-->
<!--                </label>-->
<!--            </div>-->
<!--            <div class="form-check">-->
<!--                <input class="form-check-input" type="checkbox" value="" id="video games" name="indoor[]">-->
<!--                <label class="form-check-label" for="video games">-->
<!--                    Video Games-->
<!--                </label>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
            <span class="err">
            <check if="{{isset(@errors['indoor'])}}">
                {{@errors['indoor']}}
            </check>
        </span>
        </div>

    <br>

    <p><strong>Out-door Interests</strong></p>
            <div class="row px-3">

                <repeat group="{{ @outdoor }}" value="{{ @outdoor }}">
                    <div class="col-md-3">
                        <div class="form-check">


                                <input class="form-check-input" type="checkbox" value="{{ @outdoor }}" id=outdoor[] name="outdoor[]"
                                <check if="{{@outdoor==@selectOutdoor }}">
                                    checked="checked"
                                </check>
                            <label class="form-check-label" for="outdoor[]">
                                {{ ucfirst(@outdoor) }}
                            </label>
                        </div>
                    </div>
                </repeat>

<!--        <div class="col-sm">-->
<!--            <div class="form-check">-->
<!--                <input class="form-check-input" type="checkbox" value="" id="hiking" name="outdoor[]">-->
<!--                <label class="form-check-label" for="hiking">-->
<!--                    Hiking-->
<!--                </label>-->
<!--            </div>-->
<!--            <div class="form-check">-->
<!--                <input class="form-check-input" type="checkbox" value="" id="walking" name="outdoor[]">-->
<!--                <label class="form-check-label" for="walking">-->
<!--                    Walking-->
<!--                </label>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm">-->
<!--            <div class="form-check">-->
<!--                <input class="form-check-input" type="checkbox" value="" id="biking" name="outdoor[]">-->
<!--                <label class="form-check-label" for="biking">-->
<!--                    Biking-->
<!--                </label>-->
<!--            </div>-->
<!--            <div class="form-check">-->
<!--                <input class="form-check-input" type="checkbox" value="" id="climbing" name="outdoor[]">-->
<!--                <label class="form-check-label" for="climbing">-->
<!--                    Climbing-->
<!--                </label>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm">-->
<!--            <div class="form-check">-->
<!--                <input class="form-check-input" type="checkbox" value="" id="swimming" name="outdoor[]">-->
<!--                <label class="form-check-label" for="swimming">-->
<!--                    Swimming-->
<!--                </label>-->
<!--            </div>-->
<!--            <div class="form-check">-->
<!--                <input class="form-check-input" type="checkbox" value="" id="running" name="outdoor[]">-->
<!--                <label class="form-check-label" for="running">-->
<!--                    Running-->
<!--                </label>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-sm">-->
<!--            <div class="form-check">-->
<!--                <input class="form-check-input" type="checkbox" value="" id="collecting" name="outdoor[]">-->
<!--                <label class="form-check-label" for="collecting">-->
<!--                    Collecting-->
<!--                </label>-->
<!--            </div>-->
<!--            <div class="form-check">-->
<!--                <input class="form-check-input" type="checkbox" value="" id="fishing" name="outdoor[]">-->
<!--                <label class="form-check-label" for="fishing">-->
<!--                    Fishing-->
<!--                </label>-->
<!--            </div>-->
<!--        </div>-->
                <span class="err">
            <check if="{{isset(@errors['outdoor'])}}">
                {{@errors['outdoor']}}
            </check>
        </span>


    </div>

    <br>


    <div class="row">
        <div class="col-6">
            <div class="text-right">

                <a href="summary"><button type="submit" class="btn btn-primary">Next ></button></a>
            </div>
        </div>
    </div>



    </form>

</div>







    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
</body>
</html>