<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interest</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >

</head>
<body>

<div class="container">

    <h1>Interest</h1>

    <p><strong>In-door Interests</strong></p>
    <div class="row">
        <div class="col-sm">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="tv" name="tv">
                <label class="form-check-label" for="tv">
                    TV
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="puzzles" name="puzzles">
                <label class="form-check-label" for="puzzles">
                    Puzzles
                </label>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="movies" name="movies">
                <label class="form-check-label" for="movies">
                    Movies
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="reading" name="reading">
                <label class="form-check-label" for="reading">
                    Reading
                </label>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="cooking" name="cooking">
                <label class="form-check-label" for="cooking">
                    Cooking
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="playing cards" name="playing cards">
                <label class="form-check-label" for="playing cards">
                    Playing Cards
                </label>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="board games" name="board games">
                <label class="form-check-label" for="board games">
                    Board Games
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="video games" name="video games">
                <label class="form-check-label" for="video games">
                    Video Games
                </label>
            </div>
        </div>

    </div>

    <br>

    <p><strong>Out-door Interests</strong></p>
    <div class="row">

        <div class="col-sm">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="hiking" name="hiking">
                <label class="form-check-label" for="hiking">
                    Hiking
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="walking" name="walking">
                <label class="form-check-label" for="walking">
                    Walking
                </label>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="biking" name="biking">
                <label class="form-check-label" for="biking">
                    Biking
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="climbing" name="climbing">
                <label class="form-check-label" for="climbing">
                    Climbing
                </label>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="swimming" name="swimming">
                <label class="form-check-label" for="swimming">
                    Swimming
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="running" name="running">
                <label class="form-check-label" for="running">
                    Running
                </label>
            </div>
        </div>
        <div class="col-sm">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="collecting" name="collecting">
                <label class="form-check-label" for="collecting">
                    Collecting
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="fishing" name="fishing">
                <label class="form-check-label" for="fishing">
                    Fishing
                </label>
            </div>
        </div>


    </div>

    <br>


    <a href="summary"> <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
        Next>
    </button></a>

</div>











    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
</body>
</html>